## Projeto 4 do Curso de Introdução a Machine Learning 

### Objetivo
#### Prever de acordo com o conjunto de dados se um carro vai ser vendido ou não (sold)
#### Features = millieage_per_year , model_year, price

In [30]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/4d1d4a16ccbf6ea4e0a64a38a24ec884/raw/afd05cb0c796d18f3f5a6537053ded308ba94bf7/car-prices.csv"
dados = pd.read_csv(uri)
dados.head()
!pip install graphviz ==0.10

Invalid requirement: '==0.10'
Traceback (most recent call last):
  File "C:\Users\Featriz Brota\Anaconda3\lib\site-packages\pip\_vendor\packaging\requirements.py", line 93, in __init__
    req = REQUIREMENT.parseString(requirement_string)
  File "C:\Users\Featriz Brota\Anaconda3\lib\site-packages\pip\_vendor\pyparsing.py", line 1632, in parseString
    raise exc
  File "C:\Users\Featriz Brota\Anaconda3\lib\site-packages\pip\_vendor\pyparsing.py", line 1622, in parseString
    loc, tokens = self._parse( instring, 0 )
  File "C:\Users\Featriz Brota\Anaconda3\lib\site-packages\pip\_vendor\pyparsing.py", line 1379, in _parseNoCache
    loc,tokens = self.parseImpl( instring, preloc, doActions )
  File "C:\Users\Featriz Brota\Anaconda3\lib\site-packages\pip\_vendor\pyparsing.py", line 3395, in parseImpl
    loc, exprtokens = e._parse( instring, loc, doActions )
  File "C:\Users\Featriz Brota\Anaconda3\lib\site-packages\pip\_vendor\pyparsing.py", line 1379, in _parseNoCache
    loc,tokens = self.parseImpl( instring, preloc, doActions )
  File "C:\Users\Featriz Brota\Anaconda3\lib\site-packages\pip\_vendor\pyparsing.py", line 3717, in parseImpl
    return self.expr._parse( instring, loc, doActions, callPreParse=False )
  File "C:\Users\Featriz Brota\Anaconda3\lib\site-packages\pip\_vendor\pyparsing.py", line 1379, in _parseNoCache
    loc,tokens = self.parseImpl( instring, preloc, doActions )
  File "C:\Users\Featriz Brota\Anaconda3\lib\site-packages\pip\_vendor\pyparsing.py", line 3378, in parseImpl
    loc, resultlist = self.exprs[0]._parse( instring, loc, doActions, callPreParse=False )
  File "C:\Users\Featriz Brota\Anaconda3\lib\site-packages\pip\_vendor\pyparsing.py", line 1383, in _parseNoCache
    loc,tokens = self.parseImpl( instring, preloc, doActions )
  File "C:\Users\Featriz Brota\Anaconda3\lib\site-packages\pip\_vendor\pyparsing.py", line 2689, in parseImpl
    raise ParseException(instring, loc, self.errmsg, self)
pip._vendor.pyparsing.ParseException: Expected W:(abcd...) (at char 0), (line:1, col:1)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Featriz Brota\Anaconda3\lib\site-packages\pip\_internal\req\req_install.py", line 252, in from_line
    req = Requirement(req)
  File "C:\Users\Featriz Brota\Anaconda3\lib\site-packages\pip\_vendor\packaging\requirements.py", line 97, in __init__
    requirement_string[e.loc:e.loc + 8]))
pip._vendor.packaging.requirements.InvalidRequirement: Invalid requirement, parse error at "'==0.10'"

You are using pip version 10.0.1, however version 19.2.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [16]:
## renomeado as colunas para facilitar o entendimento 


a_renomear = { 
    'mileage_per_year' : 'milhas_por_ano',
    'model_year' : 'ano_do_modelo',
    'price' : 'preco',
    'sold' :'vendido'
}
dados = dados.rename(columns=a_renomear)
dados.head()

   Unnamed: 0  milhas_por_ano  ano_do_modelo      preco vendido
0           0           21801           2000   30941.02     yes
1           1            7843           1998   40557.96     yes
2           2            7109           2006   89627.50      no
3           3           26823           2015   95276.14      no
4           4            7935           2014  117384.68     yes

In [17]:
## podemos modificar os valores da coluna 'vendido' para valores '0' e '1'

a_trocar = {
    'no': 0,
    'yes': 1
}
dados.vendido = dados.vendido.map(a_trocar)
dados.head()

   Unnamed: 0  milhas_por_ano  ano_do_modelo      preco  vendido
0           0           21801           2000   30941.02        1
1           1            7843           1998   40557.96        1
2           2            7109           2006   89627.50        0
3           3           26823           2015   95276.14        0
4           4            7935           2014  117384.68        1

In [18]:
## Faremos uma alteração, invés de usarmos o ano do modelo é aconselhavel utilizarmos a idade do carro, ou seja
## o calculo desde o ano de fabricação (ano do modelo) até o dia de hoje

from datetime import datetime

ano_atual = datetime.today().year
dados['idade_do_modelo'] = ano_atual - dados.ano_do_modelo
dados.head()

,Unnamed: 0,milhas_por_ano,ano_do_modelo,preco,vendido,idade_do_modelo
0,0,21801,2000,30941.02,1,19
1,1,7843,1998,40557.96,1,21
2,2,7109,2006,89627.50,0,13
3,3,26823,2015,95276.14,0,4
4,4,7935,2014,117384.68,1,5

In [19]:
## Faremos mais uma alteração, temos a coluna 'milhas_por_ano' que é uma medida válida no Brasil porém como estamos acostumados com KM/ano
## criaremos uma coluna nova que apresentará esses valores em quilômetros (km_por_ano).
## Sabendo que cada milha equivale a 1.60934km
dados ['km_por_ano'] = dados.milhas_por_ano * 1.60934
dados.head()

,Unnamed: 0,milhas_por_ano,ano_do_modelo,preco,vendido,idade_do_modelo,km_por_ano
0,0,21801,2000,30941.02,1,19,35085.22134
1,1,7843,1998,40557.96,1,21,12622.05362
2,2,7109,2006,89627.50,0,13,11440.79806
3,3,26823,2015,95276.14,0,4,43167.32682
4,4,7935,2014,117384.68,1,5,12770.11290

In [20]:
## Logo podemos excluir colunas que não utilizamos mais

dados = dados.drop(columns = ["Unnamed: 0", "milhas_por_ano", "ano_do_modelo"], axis=1)
dados.head()

       preco  vendido  idade_do_modelo   km_por_ano
0   30941.02        1               19  35085.22134
1   40557.96        1               21  12622.05362
2   89627.50        0               13  11440.79806
3   95276.14        0                4  43167.32682
4  117384.68        1                5  12770.11290

In [21]:
## Hora de separar nossas FEATURES da Classificação

x = dados[["preco", "idade_do_modelo", "km_por_ano"]]
y = dados["vendido"]

In [22]:
## Por curiosidade vamos rodar o LinearSVC como algoritmo classificador para modelar como nossos dados serão classificados

import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

x = dados[["preco", "idade_do_modelo", "km_por_ano"]]
y = dados["vendido"]

SEED = 5
np.random.seed(SEED)
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size = 0.25,
                                                         stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(train_x), len(test_x)))

modelo = LinearSVC()
modelo.fit(train_x, train_y)
previsoes = modelo.predict(test_x)

acuracia = accuracy_score(test_y, previsoes) * 100
print("A acurácia com o LINEARSVC foi %.2f%%" % acuracia)

Treinaremos com 7500 elementos e testaremos com 2500 elementos
A acurácia com o LINEARSVC foi 58.00%

In [24]:
## Criando uma baseline automatizada para utilizar como recurso comparativo 

from sklearn.dummy import DummyClassifier
dummy_stratified = DummyClassifier()
dummy_stratified.fit(train_x, train_y)
acuracia = dummy_stratified.score(test_x, test_y) * 100

print("A acurácia do dummy stratified foi %.2f%%" % acuracia)

## Podemos utilizar Diversas estratégias de classificação, acima utilizamos o padrão do DummyClassifier que é stratified
## Agora vamos ver o que acontece ao utilizar most_frequency

dummy_mostfrequent = DummyClassifier()
dummy_mostfrequent.fit(train_x, train_y)
previsoes = dummy_mostfrequent.predict(test_x)

acuracia = accuracy_score(test_y, previsoes) * 100
print("A acurácia do dummy mostfrequent foi %.2f%%" % acuracia)

A acurácia do dummy stratified foi 50.68%
A acurácia do dummy mostfrequent foi 52.64%

In [25]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC, SVC
from sklearn.metrics import accuracy_score
import numpy as np


SEED = 5
np.random.seed(SEED)
raw_train_x, raw_test_x, train_y, test_y = train_test_split(x, y, test_size = 0.25,
                                                         stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(train_x), len(test_x)))

## raw_train_x e raw_test_x são as váriaveis com os valores originais, antes da padronização
scaler = StandardScaler()
scaler.fit(raw_train_x)
train_x = scaler.transform(raw_train_x)
test_x = scaler.transform(raw_test_x)

modelo = SVC()
modelo.fit(train_x, train_y)
previsoes = modelo.predict(test_x)

acuracia = accuracy_score(test_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 7500 elementos e testaremos com 2500 elementos
A acurácia foi 77.48%

In [31]:
!pip install graphviz==0.10
!apt-get install graphviz

Collecting graphviz==0.10
  Downloading https://files.pythonhosted.org/packages/a1/33/a0d49e007ce2f55954eb5d2058817af18f4e22ea69142880e1c46d32c37b/graphviz-0.10-py2.py3-none-any.whl
Installing collected packages: graphviz
Successfully installed graphviz-0.10

twisted 18.7.0 requires PyHamcrest>=1.9.0, which is not installed.
You are using pip version 10.0.1, however version 19.2.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.
'apt-get' não é reconhecido como um comando interno
ou externo, um programa operável ou um arquivo em lotes.

In [32]:
## Utilizando o modelo de Árvore de decisão

from sklearn.tree import DecisionTreeClassifier

SEED = 5
np.random.seed(SEED)
raw_train_x, raw_test_x, train_y, test_y = train_test_split(x, y, test_size = 0.25,
                                                         stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(train_x), len(test_x)))

## raw_train_x e raw_test_x são as váriaveis com os valores originais, antes da padronização
scaler = StandardScaler()
scaler.fit(raw_train_x)
train_x = scaler.transform(raw_train_x)
test_x = scaler.transform(raw_test_x)

modelo =  DecisionTreeClassifier()
modelo.fit(train_x, train_y)
previsoes = modelo.predict(test_x)

acuracia = accuracy_score(test_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

from sklearn.tree import export_graphviz



dot_data = export_graphviz(modelo, out_file=None)
grafico = graphviz.Source(dot_data)
grafico

Treinaremos com 7500 elementos e testaremos com 2500 elementos
A acurácia foi 73.24%

NameError: name 'graphviz' is not defined